 html,body{height: 100%;}
    html,body{
        margin:0;
        padding:0;
        text-transform: uppercase;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        background-color: #E6E8E6;
    }
    a{
        color:#000000;
        text-decoration: none;
    }
    a:hover{
        color:#000000;
        text-decoration: none;
    }
    .holder{
        min-height: 100%;
        position: relative;
    }
    .body{
        padding-top: 50px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .row{
        margin:0
    }
    .header{
        width:100%;
        height: 50px;
        display: flex;
        align-items:center;
        background-color: #0F3F68
    }
    .header-content{
        padding:15px;
    }
    .header-content{
        font-size: 1.2em;
    }
    
    .side-col{
        height: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #E6E8E6;
    }
    .side-header a{
        font-size: 40px;
        font-weight: 300;
        font-family: 'Muli', sans-serif;
        letter-spacing: 2px;
        color: #E88146;
        cursor: pointer;
    }
    .main-col{
        padding:0;
        font-size: 30px;
        overflow-y: scroll;
        height: 100%;
        background-color: #bbbbbb;
    }
    #home{
        height: 100%;
        background-image: url("../img/98160012.JPG");
        background-position: center;
        background-size: cover;
    }
    .nav-menu{
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        transform: translate(0%, -12%);
    }
    .nav-menu a{
        margin-top:20px;
        width: 100%;
        color:black;
        text-decoration: none;
    } 
    .nav-menu a:hover{
        background-color: #9FE0CC;
        color: black;
    }
    
    .nav-menu p{
        width:0;
        padding:5px;
        margin:0;
        text-align: right;
        transition: .5s ease-out;
    }
    .mobile-menu{
        cursor: pointer;
        z-index: 3;
        visibility: hidden;
    }
    .connect-content{
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: space-between
    }
    .nav-xtra-content{
        visibility: hidden;
    }
    .disappear{
        display: none;
    }
    .hidden-nav{
        display: none;
    }
    .connect-icons{
        width: 100%;
        font-size: .8em;
        display: flex;
        justify-content: space-between;
    }

    @media only screen and (max-width:767px){
        .side-col{display: none;height:300px}
        .mobile-menu{visibility: visible}
        .hidden-nav{display: flex}
        .connect-icons{display: none}
    }
    @media only screen and (min-width:767px){
        .side-col{display: flex!important}
        .body{padding-top: 0px}
    }
   